@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply placeholder:text-gray-300 font-custom text-toodark font-bold border-none focus:ring-2 focus:ring-toodark
  }

  [type='checkbox'],
  [type='radio'] {
    @apply border-2 border-toodark text-red-500 focus:ring focus:ring-dark
  }
}

@layer components {
  .max-width {
    @apply max-w-4xl mx-auto
  }

  .min-height {
    @apply min-h-[calc(100vh-64px)]
  }

  .center-div {
    @apply min-h-[calc(100vh-64px)] items-center justify-center flex flex-col
  }

  .link {
    @apply text-toodark w-fit mx-auto px-4 py-1 font-bold bg-toolite flex items-center
  }

  .btn {
    @apply text-white w-fit mx-auto px-4 py-2 font-bold bg-toodark
  }

  button,
  .link {
    @apply focus:outline-none focus:ring-4 focus:ring-teal-500
  }

  form button,
  div > button {
    @apply focus:ring-white
  }

  .action-btn {
    @apply p-2
  }

  table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-size: 18px;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 12px 15px;
  }

  td {
    font-size: 16px;
    font-weight: bold;
  }

  th {
    text-align: center;
  }

  tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  body {
    overflow-x: hidden;
  }
}